.section-welcome{
	text-align: center;
	min-height: calc(100vh - 170px);

	background: {
		image: url('./images/welcome-section-bg.jpg');
		repeat: no-repeat;
		position: left bottom;
		size: cover;
	}

	.container{
		display: flex;
		
		@media(max-width: $screen-xl-max){
			flex-direction: column;
		}
		@media(min-width: $screen-xl){
			align-items: center;	
		}
	}

	/* title */
	&__title{
		//margin-top: 180px;
		text-transform: uppercase;

		font: {
			size: 56px;
			weight: 300;
		}
		color: $color-black;
		line-height: 80px;
	}
	
	/* text */
	&__text{
		margin: {
			top: 0;
			right: auto;
			bottom: 30px;
			left: auto;
		}

		font: {
			weight: normal;
		}
		

		@media(max-width: $screen-xl-max){
			font-size: 18px;
			line-height: 28px;
		}
		@media(min-width: $screen-xl){
			font-size: 24px;
			line-height: 36px;
		}
	}

	.side{
		flex: 0 0 calc(100% / 3);

		img{
			display: inline-block;
			max-width: 100%;
			height: auto;
		}

		&--right{
			text-align: right;
		}
	}
}