.section-slider{
	overflow: hidden;

	/* slider */
	.portfolio-slider-wrapper{
		width: 80%;
		position: relative;
		margin: {
			left: auto;
			right: auto;
		}
		
		&::before,
		&::after{
			content: '';
			width: 200%;
			height: 100%;

			display: block;
			position: absolute;
			top: 0;
			z-index: 2;

			background-color: rgba(0,0,0, .5);
		}
		&::before{
			right: 100%;
		}
		&::after{
			left: 100%;
		}
	}
	.portfolio-slider{
		height: 500px;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}

		.slick-list{
			overflow: visible;
		}

		.slick-slide{
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content:  flex-end;

			height: 500px;
			outline: 0;	

			background:{
				size: cover;
				position: 50%;
				repeat: no-repeat;
			}
			color: $color-white;
			
			h2,
			p{
				margin: 0;
			}
			h2{
				font-size: 144px;
			}
			p{
				font-size: 72px;
			}


		}

		.ps1{
			background-image: url('./images/bookmark-4.jpg');
		}
		.ps2{
			background-image: url('./images/bookmark-1.jpg');
		}
		.ps3{
			background-image: url('./images/jinx.jpg');
		}
		.ps4{
			background-image: url('./images/portfolio-film.jpg');
		}
	}

}