.section-welcome{
	text-align: center;

	/* title */
	&__title{
		text-transform: uppercase;
	}
	
	/* text */
	&__text{
		margin: {
			top: 0;
			right: auto;
			bottom: 30px;
			left: auto;
		}
		max-width: 35%;
	}
}