.section-portfolio{
	background-color: $color-primary;
	
	@media(max-width: $screen-lg-max){
		padding: {
			top: 50px;
			bottom: 50px;
		}
	}
	@media(min-width: $screen-lg){
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		height: 100vh;
		padding: {
			top: 100px;
			bottom: 100px;
		}
	}
	
	/* title */	
	&__title{
		margin: {
			top: 0;
			bottom: 40px;
		}
		text: {
			transform: uppercase;
			align: center;
		}

		font: {
			size: 72px;
			weight: 300;
		}
		line-height: 80px;
		color: $color-black;
	}

	.portfolio-items-wrapper{
		display: flex;
		flex-wrap: wrap;

		@media(min-width: $screen-md){
			margin: {
				left: -10px;
				right: -10px;
			}
		}
	}
}