.dot-content-item{

	background-color: $color-secondary;
	padding: {
		top: 50px;
		bottom: 50px;
	}
	
	&__title,
	&__subtitle,
	&__text--center{
		text: {
			align: center;
			transform: uppercase;
		}
		
	}

	&__title{
		margin: 0;

		color: $color-white;
		font: {
			size: 144px;
			weight: 900;
		}
	}

	&__subtitle{
		margin: 0;

		text-align: center;
		color: $color-white;
		font: {
			size: 72px;
			weight: normal;
		}
	}

	&__text{
		color: $color-white;
		font: {
			size: 28px;
			weight: normal;
		}
		line-height: 48px;

		&--center{
			
		}
	}

	&__explore-more{
		display: flex;
		justify-content: center;
	}
	&__em-item{
		flex: 0 0 25%;
	}
}