.dot-item{
	margin: {
		left: 15px;
		right: 15px;
	}

	/* image */
	&__image{
		width: 170px;
		height: 170px;
		margin: {
			left: auto;
			right: auto;
			bottom: 20px;
		}

		img{
			width: 100%;
			display: block;
			height: 100%;

			border-radius: 50%;
		}
	}
	
	/* title */ 
	&__title{
		text: {
			align: center;
			transform: uppercase;
		}

		font: {
			size: 36px;
			weight: normal;
		}
		color: $color-text;
	}
}