.navigation{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;
	}

	button{
		background: none;
		border: none;
		outline: 0;
		padding: 0;

		text-transform: uppercase;
	}

	/* Modification => header */
	&--header{

	}

	/* Modification => footer*/
	&--footer{
		text-align: center;
	}

}