.navigation{
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline-block;

		@media(max-width: $screen-lg-max){
			text-align: center;
		}

		@media(min-width: $screen-lg){
			margin: {
				left: 15px;
				right: 15px;
			}
		}
	}

	button{
		background: none;
		border: none;
		outline: 0;
		padding: 0;

		text-transform: uppercase;
		position: relative;
		
		font: {
			weight: normal;
		}
		color: $color-black;
		transition: $transition;
		
		@media(min-width: $screen-lg){
			&::after{
		    content: 'l';
		    position: absolute;
		    top: 30px;
		    left: 50%;
		    width: 100px;

		    display: block;
		    margin-left: -50px;

		    font-family: 'Northwell Swash';
		    color: $color-white;
		    font-size: 50px;

		    transition: $transition;

		    opacity: 0;
		    visibility: hidden;
		    pointer-events: none;
			}
			&:hover,
			&:focus{
				color: $color-white;

				&:after{
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
			}
		}
		
		@media(max-width: $screen-xl-max){
			font-size: 18px;
		}
		@media(min-width: $screen-xl){
			font-size: 28px;
		}
	}

	/* Modification => header */
	&--header{
		text-align: right;
		@media(min-width: $screen-md) and (max-width: $screen-xl-max){
			li{
				margin: {
					left: 10px;
					right: 10px;
				}
			}
		}
		@media(max-width: $screen-lg-max){
			opacity: 0;
			visibility: hidden;
			pointer-events: none;

			position: absolute;
			top: 70px;
			left: 0;
			width: 100%;

			line-height: 50px;
			background-color: $color-white;

			transition: $transition;

			&.active{
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}

			li{
				display: block;
			}
		}
		@media(min-width: $screen-lg){
			width: 75%;
			display: block !important;
			margin-bottom: 25px;
		}
		@media(min-width: $screen-xl){
			margin-bottom: 40px;
		}
	}

	/* Modification => footer*/
	&--footer{
		text-align: center;
		margin-top: 15px;

		

		background-color: $color-primary;

		@media(max-width: $screen-lg-max){
			padding: {
				top: 25px;
				bottom: 25px;
			}

			ul{
				display: flex;
				flex-wrap: wrap;
			}

			li{
				flex: 0 0 33%;
			}

			button{
				color: $color-white;
				line-height: 50px;
			}
		}
		@media(min-width: $screen-lg){
			padding: {
				top: 45px;
				bottom: 45px;
			}
		}
	}

}
