.portfolio-item{
	text-align: center;

	flex: 0 0 25%;

	/* image */
	&__image{
		display: flex;
		align-items: center;

		cursor: pointer;

		img{}
	}

	/* title */
	&__title{
		width: 100%;
		text: {
			align: center;
			transform: uppercase;
		}

		background-color: $color-white;
	}
	
	/* list */ 
	&__list{
		display: none;

		list-style-type: none;
		padding: 0;
		margin: 0;

		/* list item */ 
		li{

		}
	}

	/* Modification's */
	&--film{

	}
	&--ads{

	}
	&--content{

	}
	&--photo{

	}

}