.portfolio-item{
	text-align: center;

	/* image */
	&__image{
		img{}
	}

	/* title */
	&__title{
		text-transform: uppercase;
	}
	
	/* list */ 
	&__list{
		list-style-type: none;
		padding: 0;
		margin: 0;

		/* list item */ 
		li{

		}
	}
}