.tab-item{

	/* title */
	&__title{
		text-transform: uppercase;

		font: {
			size: 40px;
			weight: normal;
		}
	}
	
	/* content */ 
	&__content{

	}
	
	/* text */
	&__text{
		font: {
			size: 28px;
			weight: normal;
		}
		color: $color-text;
		line-height: 48px;
	}

}